@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.breadcrumb-menu{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

h1.about-header{
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    height: 42px; 
    width: 1170px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
}
a.breadcrumb-item{
    color: white;
    text-decoration: none;
    width: 53px;
    height: 27px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.5%;
}
li.breadcrumb-item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 136.5%;
    color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #d9d9d9;
    margin-right: 2px;
}

/*Begin about us box*/
.about-box{
    border-radius: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
#about{
    padding-bottom: 2.218%;
    background-image: url(assets/img/8.svg);
    background-size: cover;
    background-color: #005BDE;
}
p.about-header{
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 64px; 
}
.line-under-home{
    color: #F1FAFF;
    opacity: 0.3;
    margin-top: 26px;
    margin-bottom: 64px;
}
.more-info .about-box{
    gap:unset;
}
#video-247{
    margin-left: 0%;
    left: 0%;
    padding-bottom: 30px;
}
/*End about us box*/
/*Begin dear customer*/
#dear-Customer{
    margin-top: 64px;
}
.about-h2 {
    padding-left: 20px;
    margin-bottom: 16px;
}
.about-p{
    padding-left: 24px;
    padding-right: 24px;
}
.logo-247-about{
    margin-left: 0;
}
#video-247{
    width: 100%;
}
@media (max-width: 1024px) {
    .logo-247-about{
        border-top-right-radius: 30px;
    }
}
.video-247-field{
    padding-left: 0;
    padding-right: 0;
}
/*End dear customer*/
/*Begin history and grew up*/
#history-grew-up{
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}
h1.history-grewUp{
    color: #005BDE;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
h2.history-grewUp{
    color: #292E35;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-top: 32px;
}
p.history-grewUp{
    margin-top: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.5%;
}
/*End history and grew up*/
/*Begin benefits about*/
#row-benefits-about{
    margin-top: 64px;
    border-radius: 30px;
    border-bottom: 64px;
}
.benefit-item-increase{
    border-left: none;
}
/*End benefits about*/
/*Begin Footer*/
.btn-footer-about{
    margin-top: 24px;
    margin-right: -291px;
}
/*End Footer*/