@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.contact-header h1 {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight:700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 64px;
}
iframe{
   width: 100%;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
}
.contact-box{
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 30px;
    padding-bottom: 104px;
}
.info-247{
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}
.info-247 h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #292E35;
    margin-bottom: 34.5px;
}
.detail-contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
.detail-contact-item p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.5%;
    color: #292E35;
}
.line-under-info{
    flex: none;
    padding-bottom: 32px;
    color: #d9d9d9; ;
    height: 1px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
    margin-top: 18.5px;
    margin-bottom: 0px;
}
.header-send-box{
    padding-bottom: 2.7%;
}
.send-box{
    padding-left: 32px;
    padding-right: 32px;
}
.btn-footer-contact{
    margin-top: -22px;
}
.form-control{
    border: none;
    
}
.btn-send-form{
    float: right;
    width: 23%;
    height: 70.22222px;
}
.label-form{
    padding-left: 2%;
    color: #676A75;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 116%;
    padding-top: 13px;
}
.form-control-message{
    height: 250px;
}
.send-box-fill input::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #5C5F69;
}
.form-control:focus{
    box-shadow: none;
}
.form-send-fill{
    border: 1px solid #676A75;
    border-radius: 8px;
    margin-bottom: 32px;
}
.fill-mobile-code{
    margin: 0;
}
.fill-phone-code{
    padding-left: 0;
}
.fill-mobile-number{
    padding-right: 0;
}