#container-body-ourNetwork{
    background-color: #005BDE;
}
.ourNetwork-header{
    color: white;
}
.ourNetwork-header h1{
    font-family: 'Raleway';
    font-weight: Bold;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 16px;
}
.ourNetwork-header p{
    font-family: 'Lato';
    font-weight:300;
    font-size: 20px;
    line-height: 137%;
    margin-bottom: 64px;
}
.network{
    background-color: #005BDE;
    margin-bottom: 128px;
}
.network img{
    width: 100%;
}
.btn-footer-network{
    margin-top: -22px;
}