@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

#navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #fff;
}

#navbarCollapse {
  justify-content: end;
}

#navbarCollapse>ul>li>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  color: #292E35;
}

#navbarCollapse>ul>li>a:hover {
  color: #005BDE;
}

.dropdown-toggle::after {
  display:none;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
}

.flag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding-left: 20px;
}


h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
}

h4 {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

#services {
  background: #005BDE;
}

ol.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

}

.breadcrumb-menu{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;  
}

li.breadcrumb-item {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  color: white;
}

a.breadcrumb-item {
  color: white;
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

p.service-header {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20px;
  line-height: 137%;
  margin-bottom: 64px;
}

.service-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.service-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.service-content {
  border-radius: 35px;
  background: #FFFFFF;
}

h2.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292E35
}

h2.title em {
  color: #005BDE;
  font-style: normal;
}

p.title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  color: #005BDE;
}

p.title em {
  font-style: normal;
  font-weight: 700;
}

h2.table-content {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  color: #292E35;
}

.service-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  margin-top: 20px;
}

.service-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

ul.service-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  color: #292E35;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  margin-left: -12px;
}

a.back {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  color: #FFFFFF;
}

.line-under-home {
  color: #E6EAF8;
  opacity: 0.3;
  margin-top: 50px;
  margin-bottom: 80px;
}

::marker {
  color: #43C4FF
}

.airline {
  background: #292E35;
}

.airline-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.airline-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.airline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  border-left: 2px solid #5C5F69;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 175px;
}

p.airline-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.label-header {
  text-align: center;
  color: #292E35;
}

.label-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-right: 16px;
}

h2.label-content {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  color: #005BDE;
}

p.label-content {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.label-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.label-pic {
  width: 100%;
}

.plug {
  background: #005BDE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px 6px;
  border-radius: 14px;
}

h4.plug {
  line-height: 0px;
}

p.plug {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
}

.label-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 350px;
  padding: 10px 0 0 50px;
}

.label-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

h2.label-text {
  color: black;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  text-align: center;
  color: #005BDE;
}

p.label-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}

h4.label-element {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.tech-solution {
  background: #43C4FF;
}

.solution {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

@media (max-width: 991px) {
  .solution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }
}

.solution-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.solution-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #FFFFFF;
  border-radius: 16px;
  height: 240px;
  margin-bottom: 50px;
}

.solution-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 70.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #292E35;
}

.solution-content {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
}

.provides {
  background: #292E35;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.provide { 
  padding: 63px 32px;
}

.provide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.provide-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

p.provide-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.contact-us {
  text-align: center;
  padding: 40px;
}

.contact-button {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 69px;
  border-radius: 30px;
  background: linear-gradient(180deg, #43C4FF 0%, #1772F5 65.42%, #65C8FF 100%);
}

.other-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.service-element {
  background: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 150px;
  margin-top: 30px;
}

.service-element-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 19px;
  isolation: isolate;
  height: 410px;
}

.img-service {
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

h2.element-title {
  color: #292E35;
}

h3.element-title {
  position: absolute;
  margin: 165px 10%;
  opacity: 0.3;
}

p.element-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  display: flex;
  align-items: center;
}

a.full-service-detail{
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
}

.wow-pay {
  padding: 64px 32px;
}

.wowpay-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.wowpay-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  padding-left: 37px;
}

p.footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #FFFFFF;
}

p.product {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

h4.connect {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
}

.email {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  padding: 0px;
  gap: 16px;
}

.send {
  width: 150px;
  border-radius: 30px;
  background: linear-gradient(180deg, #43C4FF 0%, #1772F5 65.42%, #65C8FF 100%);
}

.social {
  padding-top: 20px;
  gap: 32px;
}

.btn-social {
  font-size: 35px;
}

.send {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
}

.back-to-top {
  margin-top: -24px;
  margin-right: 80px;
  float: right;
  border-radius: 51px;
  background: #43C4FF;
}

.btn:hover {
  background-color: #43C4FF;
  border-color: #43C4FF;
}

.project-title {
  background: #FFFFFF;
  padding: 20px;
  isolation: isolate;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.project-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  margin-top: 20px;
  color: #292E35;
}

a.see-more {
  float: right;
  margin-top: 28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  text-decoration: none;
}

.owl-menu-project {
  margin-bottom: 80px;
}

i.bi.bi-chevron-right {
  color: #43C4FF;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -750px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #666666;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 20px 20px;
  width: 1170px;
}

h2.dropdown {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  color: #292E35;
}

.half-col {
  padding: 30px;
  padding-bottom: 0px;
}

.portal:before {
  content: "";
  width: 95%;
  height: 1px;
  position: absolute;
  left: 29px;
  z-index: -1;
  bottom: 50%;
  border: 1px dashed #005BDE;
}

h4.label-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}