@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
}

h4 {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}

#navbarCollapse {
  justify-content: end;
}

#navbarCollapse>ul>li>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  color: #292E35;
}

#navbarCollapse>ul>li>a:hover {
  color: #005BDE;
}

.navbar-mobile {
  position: relative;
  width: 35px;
  height: 16px;
  border: 0;
  background: transparent;
}

.navbar-mobile span {
  position: absolute;
  width: 100%;
  height: 4px;
  display: none;
  background: #43C4FF;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.navbar-mobile span:nth-child(2) {
  width: 80%;
  top: 10px;
  left: auto;
  right: 0;
}

.navbar-mobile span:last-child {
  width: 60%;
  top: 20px;
  left: auto;
  right: 0;
}

.dropdown-toggle::after {
  display:none;
}

.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
}

.flag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding-left: 20px;
}

#hero {
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  left: 0;
  top: 0%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.video {
  position: relative;
  background: #000000 50%;
  margin-bottom: -6px;
}

.logo-banner {
  margin: 15%;
  width: 100%;
}

.line img {
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  height: 100%;
}

video#video-start {
  opacity: 0.5;
}

#our-services {
  min-height: 100%;
  background-size: 100%;
  width: 100%;
  position: relative;
  background-color: #292E35;
}

h2.heading {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

p.title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

h2.our-services {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.service-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.service-info {
  display: grid;
  gap: 16px;
  margin-top: 140px;
  margin-bottom: 50px;
}

.service-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 17px;
  position: absolute;
  max-width: 70%;
  margin: 7% 15% 0px;
  padding: 5px 70px;
}

#services {
  background-size: cover;
  background-color: #292E35;
}

.services-title-p {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 137%;
  font-weight: lighter;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 100px;
  gap: 32px;
}

.service-box {
  overflow: hidden;
  padding: 0;
  gap: 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h2.service-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #292E35;
}

h3.service-text1 {
  position: absolute;
  margin-top: 80px;
  margin-left: 21%;
  opacity: 0.3;
  color: #43C4FF;
}

h3.service-text2 {
  position: absolute;
  margin-top: 55px;
  margin-left: 21%;
  opacity: 0.3;
  color: #69CB51;
}

h3.service-text3 {
  position: absolute;
  margin-top: 80px;
  margin-left: 21%;
  opacity: 0.3;
  color: #E4BB85;
}

h3.service-text4 {
  position: absolute;
  margin-top: 80px;
  margin-left: 21%;
  opacity: 0.3;
  color: #D69BFA;
}

h3.service-text-mobile2 {
  font-size: 0px;
  position: absolute;
}

h3.service-text-mobile3 {
  position: absolute;
  font-size: 0px;
}

p.service-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  display: flex;
  align-items: center;
  color: #292E35;
}

a.full-service-detail{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  text-decoration: none;
}

.service-element {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 1317px;
}

.service-element .img-service img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.service-element-title {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
  isolation: isolate;
}

.section-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  margin-top: 70px;
}

.logo-247 {
  padding: 60px;
  background-color: #F1FAFF;
  border-top-left-radius: 30px;
}

.about-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 22px;
  background: #FFFFFF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.about-text {
  padding: 40px 37px;
  isolation: isolate;
}

h2.about-h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #292E35;
}

p.about-p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  display: flex;
  align-items: center;
  color: #292E35;
  margin-bottom: 31px;
}

a.read-more {
  float: right;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 136.5%;
  margin-top: 30px;
  margin-right: 35px;
  text-decoration: none;
}

.benefits {
  padding: 55px 32px;
  background: #292E35;
  margin-bottom: 10%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.benefit-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  border-left: 2px solid #5C5F69;
}

h2.benefit-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #43C4FF;
}

p.benefit-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.more-info {
  background-color: #005BDE;
  background-size: cover;
}

.network {
  background-color: #005BDE;
}

.our-network {
  padding-bottom: 95px;
}

.our-network img {
  aspect-ratio: 1.5;
  padding: 20px;
  background: white;
  border: 10px solid #005BDE;
  border-radius: 20px;
}

p.footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #FFFFFF;
}

p.product {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

h4.connect {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
}

.email {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  padding: 0px;
  gap: 16px;
}

.send {
  width: 150px;
  border-radius: 30px;
  background: linear-gradient(180deg, #43C4FF 0%, #1772F5 65.42%, #65C8FF 100%);
}

.social {
  padding-top: 20px;
  gap: 32px;
}

.btn-social {
  font-size: 35px;
}

.send {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
}

.back-to-top {
  margin-top: -24px;
  margin-right: 80px;
  float: right;
  border-radius: 51px;
  background: #43C4FF;
}

.btn:hover {
  background-color: #43C4FF;
  border-color: #43C4FF;
}

#portfolio {
  background: #005BDE;
}

.project {
  margin-top: 40px;
}

.project-title {
  background: #FFFFFF;
  padding: 20px;
  isolation: isolate;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.project-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  margin-top: 20px;
  color: #292E35;
}

a.see-more {
  float: right;
  margin-top: 28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  text-decoration: none;
}

.type-project {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  position: relative;
  display: block;
}

.contact-us {
  text-align: center;
  padding-bottom: 100px;
}

.contact-button {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 69px;
  border-radius: 30px;
  background: linear-gradient(180deg, #43C4FF 0%, #1772F5 65.42%, #65C8FF 100%);
}

.owl-menu-item {
  margin-bottom: 80px;
}

i.bi.bi-chevron-right {
  color: #43C4FF;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -750px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #666666;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 20px 20px;
  width: 1170px;
}

h2.dropdown {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.5%;
  color: #292E35;
}

.half-col {
  padding: 30px;
  padding-bottom: 0px;
}

@media (min-width: 1200px)  and (max-width: 1399px) {
  .dropdown-menu {
    left: -610px;
  }
  .navbar-mobile span {
    display: none;
  }
  .img-service img{
    height: 515px !important;
  }
  .about-box{
    gap: 8px;
  }
  .about-text{
    padding: 6px 46px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .dropdown-menu {
    left: -341px;
    width: 800px;
  }
  .service-element-title {
    max-height: 298px;
    padding: 32px 16px;
  }
  .about-box{
    flex-direction: column;
  }
  .logo-247{
    border-radius: 30px 30px 0px 0px;
  }
  video#video-247{
    height: 293px;
  }
  #portfolio{
    background-size: 100% 100%;
  }
  .more-info{
    background-size: auto ;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #navbarCollapse>ul>li>a{
    justify-content: flex-start;
  }

  .navbar-mobile span {
    display: block;
  }

  .dropdown-menu.show {
    flex-direction: column;
  }

  .half-col {
    padding: 0px
  }

  .dropdown-menu {
    width: unset;
  }

  .about-box {
    display: block;
  }

  .logo-247 {
    border-radius: 30px 30px 0px 0px;
  }

  video#video-247 {
    height: 293px;
  }

  a.read-more {
    margin-top: 0px;
    margin-right: 0px;
  }

  .benefit-item {
    height: 240px;
  }

  .img-service {
    max-height: 541px;
  }

  .service-element-title {
    padding: 20px;
    gap: 8px;
    max-height: 342px;
  }

  h3.service-text1 {
    margin-top: 160px;
    margin-left: 16%;
  }
  
  h3.service-text2 {
    margin-top: 130px;
    margin-left: 16%;
  }
  
  h3.service-text3 {
    margin-top: 105px;
    margin-left: 16%;
  }
  
  h3.service-text4 {
    margin-top: 105px;
    margin-left: 16%;
  }
}

@media (min-width: 350px) and (max-width: 575px)  {

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px ;
  }

  #navbarCollapse {
    max-height: 700px;
    overflow-y: auto;
    margin-bottom: 15px;
  }

  #navbarCollapse>ul>li>a{
    justify-content: flex-start;
    padding: 5px;
  }

  .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
  }

  .navbar-mobile span {
    display: block;
  }

  .dropdown-menu.show {
    flex-direction: column;
  }

  .half-col {
    padding: 0px
  }

  .dropdown-menu {
    width: unset;
  }

  h2.our-services {
    font-size: 36px;
    line-height: 42px;
  }

  .service-info {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .service {
    flex-direction: column;
    gap: 0;
    margin-bottom: 50px;
  }

  .service-box {
    gap: 0px;
    margin-bottom: 15px;
  }

  .service-element .img-service img {
    object-fit: unset;
    height: 234px !important;
  }

  .service-element-title {
    margin-bottom: 30px;
    padding: 15px 23px;
    height: 234px;
  }

  h2.service-text {
    font-size: 24px;
    line-height: 28px;
  }

  h3.service-text1 {
    font-size: 120px;
    margin-left: 0px;
    right: 8%;
  }

  h3.service-text2 {
    font-size: 0
  }

  h3.service-text3 {
    font-size: 0;
  }

  h3.service-text-mobile2 {
    position: absolute;
    font-size: 120px;
    margin-top: 80px;
    right: 8%;
    opacity: 0.3;
    color: #69CB51;
  }

  h3.service-text-mobile3 {
    position: absolute;
    font-size: 120px;
    margin-top: 80px;
    right: 8%;
    opacity: 0.3;
    color: #E4BB85;
  }

  h3.service-text4 {
    font-size: 120px;
    margin-left: 0;
    right: 8%;
  }

  p.service-text {
    font-size: 16px;
  }

  .more-info {
    background-image: none !important;
  }

  .about-box {
    flex-direction: column;
  }

  .logo-247 {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
  }

  .about-text {
    padding: 30px 20px;
  }

  h2.about-h2 {
    font-size: 26px;
    line-height: 28px;
  }

  .benefits {
    padding: 35px 10px;
  }

  .benefit-item {
    border-left: 0px
  }

  a.read-more {
    margin: 0px;
  }

  .network {
    background-image: none !important;
  }

  .back-to-top {
    margin-right: 15px;
  }
}